# Запустит все сервисы отдельно от приложения
version: '3.4'
services: 
  postgres:
    container_name: postgres
    image: postgres:11
    tty: true
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: zobor
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - zobor_postgres_volume:/var/lib/postgresql/data

volumes:
  zobor_postgres_volume: