# Необходимо скопировать текущий файл [ cp migrations.json.dist migrations.json ]
# UP и DOWN хранят массивы версий миграций, которые соответственно необходимо запустить или откатить
# Если ничего не указывать, то база данных будет мигрирована до актуальной версии миграций.
{
  "UP": [
  ],
  "DOWN": [
  ]
}